services:
  backend:
    build: ./backend
    container_name: fastapi_backend
    ports:
      - "4242:4242"
    restart: unless-stopped
    networks:
      - app-net

  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    ports:
      - "3000:3000"
    environment:
      - DIARY_API_URL=http://backend:4242
    restart: unless-stopped
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
